.title {
  font-size: 80px !important;
  color: white !important;
}

.subtitle {
  font-size: 50px !important;
  color: white;
}

.quarto-title-author-name {
  font-size: 40px;
  color: white;
}

.date {
  font-size: 30px;
  color: white;
}

.slide-big {
  font-size: 30px;
}

.slide-big-a-bit {
  font-size: 24px;
}

.important_mess {
  font-size: 22px;
  font-weight: bold;
}

.small-a-bit {
  font-size: 16px;
}

/*
.slide-logo {
  height: 50px !important;
  max-width: unset !important;
  max-height: unset !important;
}
*/